@import url(./base.css);

/* h1-h6 */

h1 {
    font-size: 3rem;
    background: linear-gradient(180deg, #FF005C 0%, #A70050 73.96%, #AD0051 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* flex-grow  */

.flex-grow-4 {
    flex-grow: 4;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-0 {
    flex-grow: 0;
    min-width: 4rem;
}

/* rounding */

.rounded {
    border-radius: 20px;
}

/*wrappers*/

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3em 3rem 0 3rem;
    min-height: 30rem;
}



.page-section {
    padding: 3rem 3rem 0 3rem;
    background-color: var(--section-bg-color);
}

/* bg colors */

.transparent {
    background-color: transparent;
}

.bg-cyan-green {
    background-color: #02FF95;
}

.bg-cyan-green:hover {
    background-color: #00d77d;
}

.bg-cyan-blue {
    background-color: #02eeff;
}

.bg-cyan-blue:hover {
    background-color: #00a292;
}


.bg-grey {
    background-color: #ACACAC;
}

.bg-grey:hover {
    background-color: #8b8b8b;
}

.bg-pink {
    background-color: var(--header-color);
}

.bg-pink:hover {
    background-color: #b9004a;
}

/* buttons */

.header-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 1rem ;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.header-btn:hover {
    color: #000000;
}



/* selects */

/* inputs */

input {
    outline: none;
}

/* main */

main {
    flex: 1 1 auto;
}
/* loading */

.loading-page {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-anim {
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top: 10px solid var(--header-color);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}